doctype
html(lang="en" ng-controller='BaseController')
    include includes/head
    body(modal-scroll-braker)
        include includes/header
        block content
        include includes/footer
        
        modals-root

        //- include includes/modalContact
        include includes/scripts