extends layout/layout
block content
    .wrapper.wrapper_value_allowance
        .container
            .row
                .col-xs-12
                    h1.wrapper_title Kindpakket
                    p.wrapper_desc
                        | Welkom op de website van het Kindpakket. Het Kindpakket is een jaarlijks ondersteunende regeling voor kinderen in armoede.
                    div
                        a.btn.main_button(ng-click="openAuthPopup()") Start uw aanvraag
    .wrapper.wrapper_product_list
        .container
            .row
                h1.wrapper_prod Aanbiedingen
                .col-sm-4
                    .block-products
                        .product-item
                            .product-item-inner
                                .product-image
                                    img(src="assets/img/product-img.jpeg")
                                .product-details
                                    h5 KersenPit Mindfulness | Training | Onderzoek
                                    h4 8-Weekse mindfulnesstraining
                                    .product-price
                                        a(class="buy_button") Koop
                                        h5(class="price_before") € 30,-
                                        h4(class="price_current") € 20,-
                .col-sm-4
                    .block-products
                        .product-item
                            .product-item-inner
                                .product-image
                                    img(src="assets/img/waterpret.jpeg")
                                .product-details
                                    h5 Zwemdiploma behalen | Activiteit | Zwemmen
                                    h4 Het hele jaar geldig
                                    .product-price
                                        a(class="buy_button") Koop
                                        h5(class="price_before") € 30,-
                                        h4(class="price_current") € 20,-
                .col-sm-4
                    .block-products
                        .product-item
                            .product-item-inner
                                .product-image
                                    img(src="assets/img/voetbal.jpeg")
                                .product-details
                                    h5 KersenPit Mindfulness | Training | Onderzoek
                                    h4 8-Weekse mindfulnesstraining
                                    .product-price
                                        a(class="buy_button") Koop
                                        h5(class="price_before") € 30,-
                                        h4(class="price_current") € 20,-
                .col-sm-4
                    .block-products
                        .product-item
                            .product-item-inner
                                .product-image
                                    img(src="assets/img/pexels-photo-1598122.jpeg")
                                .product-details
                                    h5 KersenPit Mindfulness | Training | Onderzoek
                                    h4 8-Weekse mindfulnesstraining
                                    .product-price
                                        a(class="buy_button") Koop
                                        h5(class="price_before") € 30,-
                                        h4(class="price_current") € 20,-
                .col-sm-4
                    .block-products
                        .product-item
                            .product-item-inner
                                .product-image
                                    img(src="assets/img/kinderfiets.jpeg")
                                .product-details
                                    h5 KersenPit Mindfulness | Training | Onderzoek
                                    h4 8-Weekse mindfulnesstraining
                                    .product-price
                                        a(class="buy_button") Koop
                                        h5(class="price_before") € 30,-
                                        h4(class="price_current") € 20,-
                .col-sm-4
                    .block-products
                        .product-item
                            .product-item-inner
                                .product-image
                                    img(src="assets/img/vingerverd.jpeg")
                                .product-details
                                    h5 KersenPit Mindfulness | Training | Onderzoek
                                    h4 8-Weekse mindfulnesstraining
                                    .product-price
                                        a(class="buy_button") Koop
                                        h5(class="price_before") € 30,-
                                        h4(class="price_current") € 20,-