extends layout/layout-2
block content
    .voucher-page: ._wrapper
        ._header
            a(href="./index.html")._header-logo: img(src="/assets/img/icons-rog/logo.svg", alt="")
            ._header-menu
                ._header-menu-item Mijn vouchers
            ._header-profile
                ._header-profile-avatar: img(src="/assets/img/profile.jpg")
                ._header-profile-name Jamal Vleij
                ._header-profile-menu: em.mdi.mdi-chevron-down
        ._breadcrumbs
            ._breadcrumb-arrow: .mdi.mdi-chevron-left
            ._breadcrumb-item Mijn Vouchers
        ._heading Uw Kerstpakket Forus voucher
        ._row
            ._voucher
                ._voucher-content
                    ._voucher-body
                        ._voucher-photo: img(src="/assets/img/icons-rog/voucher-icon.jpg")._voucher-photo-img
                        ._voucher-details
                            ._voucher-title Kerstpakket Forus
                            ._voucher-amount
                                ._voucher-amount-label Uw tegoed is:
                                ._voucher-amount-val € 456,66
                    ._voucher-footer
                        ._voucher-footer-label Gebruik deze voucher voor: 30 December 2019
                        ._voucher-footer-links
                            ._voucher-footer-link
                                img(src="/assets/img/icons-rog/icon-me.svg")._voucher-footer-link-icon
                                | Me App
                            ._voucher-footer-link
                                img(src="/assets/img/icons-rog/icon-email.svg")._voucher-footer-link-icon
                                | E-mail naar mij
                            ._voucher-footer-link
                                img(src="/assets/img/icons-rog/icon-print.svg")._voucher-footer-link-icon
                                | Print

                ._voucher-qr
                    ._voucher-qr-img: img(src="/assets/img/icons-rog/qr-code.jpg")._voucher-photo-img
                    ._voucher-qr-desc Dit is uw Kerstpakket Forus voucher met een QR-code
            
            ._voucher-info
                h4 How werkt het?
                p Uw Kerstpakket Forus voucher kunt u bij de aanbieder laten zien. De aanbieder scant de QR-code om u het aanbod te leveren 
                p Heeft u vragen over ‘Kerstpakket Forus’? Neem dan contact met ons op
                h4 Stichting Forus 
                h6 Telefoon: 06 36 26 12 31
                p 
                    | Email: 
                    span support@forus.io
            
        ._row
            .voucher-transactions
                .voucher-transactions-header Uitgaven
                
                .voucher-transaction
                    .voucher-transaction-icon: em.mdi.mdi-arrow-up
                    .voucher-transaction-desc
                        .voucher-transaction-title Rijwielhandel Kuis
                        .voucher-transaction-subtitle 19 Mei, 14:08
                    .voucher-transaction-amount
                        .voucher-transaction-value - €2,76
                        .voucher-transaction-type Transactie
                
                .voucher-transaction
                    .voucher-transaction-icon: em.mdi.mdi-close-circle-outline
                    .voucher-transaction-desc
                        .voucher-transaction-title Rijwielhandel Kuis
                        .voucher-transaction-subtitle 19 Mei, 14:08
                    .voucher-transaction-amount
                        .voucher-transaction-value - €2,76
                        .voucher-transaction-type Transactie
                
                .voucher-transaction
                    .voucher-transaction-icon: em.mdi.mdi-arrow-down
                    .voucher-transaction-desc
                        .voucher-transaction-title Rijwielhandel Kuis
                        .voucher-transaction-subtitle 19 Mei, 14:08
                    .voucher-transaction-amount
                        .voucher-transaction-value - €2,76
                        .voucher-transaction-type Transactie